@use '@angular/material' as mat;
@use 'stylestheme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: var(var(--mat-sys-primary));
  margin: 0;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--mat-sys-primary-container);
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background-color: var(var(--mat-sys-primary));
}

.mat-mdc-snack-bar-container {
  &.notification-success {
    --mdc-snackbar-container-color: var(--mat-sys-primary);
    --mat-mdc-snack-bar-button-color: var(--mat-sys-on-primary);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-primary);
  }

  &.notification-error {
    --mdc-snackbar-container-color: var(--mat-sys-error);
    --mat-mdc-snack-bar-button-color: var(--mat-sys-on-error);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error);
  }
}

mat-form-field.small {
  --mat-form-field-container-height: 42px;
  --mat-form-field-container-vertical-padding: 8px;
}
.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0.5625rem !important;
}

@media (max-width: 600px) {
  .full-screen-modal {
    .form-wrapper {
      padding: 10px;
    }

    .close-btn {
      right: 20px;
    }

    .form-btns {
      flex-direction: column;
      height: auto;
    }

    .cancel-btn,
    .submit-btn {
      width: 100%;
    }
  }
}
