@use '@angular/material' as mat;
@use 'stylestheme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: var(var(--mat-sys-primary));
  margin: 0;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mat-sys-primary-container);
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(var(--mat-sys-primary));
}

.mat-mdc-snack-bar-container {
  &.notification-success {
    --mdc-snackbar-container-color: var(--mat-sys-primary);
    --mat-mdc-snack-bar-button-color: var(--mat-sys-on-primary);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-primary);
  }

  &.notification-error {
    --mdc-snackbar-container-color: var(--mat-sys-error);
    --mat-mdc-snack-bar-button-color: var(--mat-sys-on-error);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error);
  }
}

@media (max-width: 600px) {
  .full-screen-modal {
    .form-wrapper {
      padding: 10px;
    }

    .close-btn {
      right: 20px;
    }

    .form-btns {
      flex-direction: column;
      height: auto;
    }

    .cancel-btn,
    .submit-btn {
      width: 100%;
    }
  }
}

@include mat.dialog-overrides((container-color: #fff,
    container-shape: none,
  ));

.full-screen-dialog {
  border-radius: 0 !important;
  overflow: hidden !important;

  @include mat.dialog-overrides((container-shape: 0px,
      container-color: white,
    ));
}

.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: hidden !important;
}

.mat-mdc-select-panel {
  transform-origin: top center !important;
  background-color: var(--mat-sys-on-primary) !important;
}

.mat-mdc-form-field .mdc-select__dropdown-icon,
.mat-mdc-form-field .mat-mdc-select-arrow-wrapper {
  display: none !important;
}

.mat-mdc-form-field.mat-mdc-form-field-focused {
  opacity: 0 !important;
  visibility: hidden !important;
}

.mat-mdc-select-panel-wrap {
  transform: translateY(36px) !important;
}

.cdk-overlay-connected-position-bounding-box {
  top: unset !important;
  bottom: auto !important;
}