@use '@angular/material' as mat;
@use 'stylestheme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.mat-mdc-snack-bar-container {
  &.notification-success {
    --mdc-snackbar-container-color: var(--mat-sys-primary);
    --mat-mdc-snack-bar-button-color: var(--mat-sys-on-primary);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-primary);
  }

  &.notification-error {
    --mdc-snackbar-container-color: var(--mat-sys-error);
    --mat-mdc-snack-bar-button-color: var(--mat-sys-on-error);
    --mdc-snackbar-supporting-text-color: var(--mat-sys-on-error);
  }
}

@media (max-width: 600px) {
  .full-screen-modal {
    .form-wrapper {
      padding: 10px;
    }

    .close-btn {
      right: 20px;
    }

    .form-btns {
      flex-direction: column;
      height: auto;
    }

    .cancel-btn,
    .submit-btn {
      width: 100%;
    }
  }
}
